{% extends "base.html" %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ category.name }}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if product.images.all %}
                            <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            {% else %}
                            <img src="{% static "images/default-image.jpg" %}" class="img-fluid mb-3" alt="No image available">
                        {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }} USD</p>
                        
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No products available in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}