{% extends 'base.html' %}
{% load static %}
{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
    <h2>Salom, {{ profile.user.first_name }}!</h2>
    {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" width="200">
    {% else %}
    <img src="{% static "images/default.png" %}" alt="Profile Picture" class="img-thumbnail" width="200">
    {% endif %}
    <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Username:</strong> {{ profile.user.username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ profile.user.email }}</li>
        <li class="list-group-item"><strong>Tug'ilgan sana:</strong> {{ profile.date_of_birth }}</li>
        <li class="list-group-item"><strong>Bio:</strong> {{ profile.bio }}</li>
        <li class="list-group-item"><strong>Website:</strong> <a href="{{ profile.website }}">{{ profile.website }}</a></li>
    </ul>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">Profilni tahrirlash</a>
</div>
{% endblock %}
